:root {

    --ig-status-text-color: maroon; /* 1. IG Title and status text color */
    --navbar-bg-color: #5f6d22; /* 2. Header container color */
    --footer-bg-color: #ececec; /* 3. Footer background color*/
    --footer-container-bg-color: #ececec; /* 4. Footer container color */
    --stripe-bg-color: #ffffff; /* 5. Header strip color */
  
    --btn-hover-color: #4c571b;  /* 6. Menu button hover color */
    --btn-active-color: #47e8a4ee; /* 7. Menu button active color */
    --btn-text-color: #e6e6e6; /* 8. Menu button text color */
    --btn-gradient-start-color: #33aa77; /* 9. Menu item gradient start color */
    --btn-gradient-end-color: #209966; /* 10. Menu item gradient end  color */
    --btn-gradient-start-color-alpha: #ff33aa77; /* 11. Menu item gradient start color (with alpha) */
    --btn-gradient-end-color-alpha: #ff209966; /* 12. Menu item gradient end color (with alpha) */
    --link-color: #bc400f; /* 13. Hyperlink text color */
    --link-hover-color: #2a6496; /* 14. Hyperlink text hover color */
  
    --publish-box-bg-color: yellow; /* 15. Publish box background color */
    --publish-box-border: 1px solid #0A0008; /* 16.  Publish box border definition */
  
    --toc-box-bg-color: #ffeb7e; /* 17.  TOC box background color */
    --toc-box-border: 1px solid navy; /* 18. TOC box border definition */
  
    --stu-note-background-color: #ffccbb; /* 19. (STU) Note box background color */
    --stu-note-border-left-color: #ff6020; /* 20. (STU) Note box border color */
  
    --ig-header-color: #f5f5f5; /* 21. Header color (sides) */
    --ig-header-container-color: #ffffff; /* 22. Header container color (center) */
    --footer-nav-bg-color: #f5f5f5; /* 23. Footer navigation background color*/
  
    --footer-text-color: #000000; /* 24. Footer highlight font color */
    --footer-hyperlink-text-color: #81BEF7; /* 25. Footer hyperlinks font color */
    --footer-highlight-text-color: #ffff77; /* 26. Footer highlight font color */
  
    --breadcrumb-bg-color: #bc400f; /* 27. Breadcrumb font color */
    --breadcrumb-text-color: ##555555; /* 28. Breadcrumb font color */
  
    --dragon-background-color: #fffbf7; /* 29. Dragon background color */
    --dragon-text-color: #101020; /* 30. Dragon font color */
  
  }
  
  
  #segment-footer > .container .inner-wrapper {
    padding: 50px 20px;
  }
  
  #belgium-logo {
    float: right;
    margin-top: 15px;
    margin-left: 12px;
  }
  
  #ehealth-logo {
    float: right;
  }
